<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" routerLink="/recipes/new">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-recipe-item 
    *ngFor="let recipeElement of recipes, let i = index" 
    [recipeIndex]="i"
    ></app-recipe-item>
  </div>
</div>